body
{
    margin: 0px;
}
a
{
 text-decoration: none;
}
ul
{
 list-style:none;
 background-color: brown;
 height:50px;
 margin: 0px;
 padding-top: 30px;
}
li
{
    display: inline;
    padding: 15px;
    background-color: aqua;
    
}