 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #020d24;
    color: white;
    
}

/* Main container */
.container {
    
   width: 90%; 
    width: 800px;
    margin: auto;
    padding: 60px 0;
}
/* About heading */
.header {
    text-align: center;
    margin-bottom: 80px;
}

.header h1 {
    font-size: 62px;
    color: white;
    margin-bottom: 40px;
}

.header p {
    font-size: 27px;
    line-height: 1.7;
    color: #d8e7f7;
}

/* Mission, Vision, Commitment */
.card {
    background: #080d20;
    border: 3px solid #087b8c;
    border-radius: 28px;

    padding: 60px 75px;
    margin-bottom: 50px;
}
.card h2 {
    color: #ff3333;
    font-size: 32px;
    margin-bottom: 35px;
}

.card p {
    color: #d8e7f7;
    font-size: 25px;
    line-height: 1.7;
}

/* Card hover */
.card:hover {
    border-color: #00d9ff;
    transition: 0.3s;
}

/* Mobile */
@media (max-width: 768px) {

    .container {
        width: 92%;
    }

    .header h1 {
        font-size: 40px;
    }

    .header p {
        font-size: 19px;
    }

    .card {
        padding: 35px 25px;
    }

    .card h2 {
        font-size: 24px;
    }

    .card p {
        font-size: 18px;
    }
}