.col-2
{
   height: 200px;
    background-color: red;
}
.col-4
{

    height: 200px;
    background-color: blue;
}
.row-8
{
    height: 100px;
    background-color: green;
    display: inline-block;
    width: 24.5%;
}