h2
{
   text-align: center;
}
.left
{
       text-shadow: 2px 2px 2px yellowgreen;
}
.right
{
       text-shadow: 2px 2px 2px yellowgreen;
}
.top
{
       text-shadow: 2px 2px 2px yellowgreen;
}
.bottom
{
       text-shadow: 2px 2px 2px yellowgreen;
}
.blur
{
        text-shadow: 2px 2px 2px yellowgreen;
}
.combine
{
    text-shadow: 2px 2px 2px yellowgreen;
    
}
